.person {
  display: inline-block;
  margin: 10px;
  border: 2px solid #e21111;
  box-shadow: 0 2px 5px #ccc; 
  width: 300px;
}

img {
  margin-top: 50px;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.bc {
  color: #b1228c;
}